extends page
block content
  h1 Session Statistics
  .row
    #sessionList.pull-left.well
      b Session List:
      - each session in sessions
        p
          | #{session.device}@#{session.ip}
          br/
          | #{session.up}
          br/
          | #{session.down} (#{session.time})
    p.pull-right.well 
        b Total Time:
        br/
        | #{totalSecs}
    p.pull-right.well
        b Day Totals:
        br/
        | #{dayTotals}

    p#svg.pull-right.well
       b Day totals: 
       br/

    p.pull-right.well
        b Week Totals:
        br/
        | #{weekTotals}

  style
    .chart2{
      margin: 5px;
      font: 10px sans-serif;
    }
    .chart2 rect{
      stroke: whiteSmoke;
      fill: goldenrod;
    }

  script
    function humanizeTime (secs) {
        if(secs < 60) return secs+' secs.';
        var min = Math.round((secs / 60), 0);
        if(min < 60) return min + ' mins';
        var hour = Math.round((min / 60), 0);
        min = min % 60;
        if(min == 0) return hour + ' hours';
        return hour + ' hours, ' + min + ' mins';
    }
    var dayTotals = [#{dayTotals}];
    var maxDay = Math.max(#{dayTotals});
    var weekDays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
    console.log(maxDay);

    var labelsWidth = 65;
    var chart,
        width = 500,
        bar_height = 20,
        margins = 2,
        height = (bar_height+margins) * dayTotals.length;

    var x = d3.scale.linear()
                .domain([0, d3.max(dayTotals)])
                .range([0, width - labelsWidth]);
    var y = d3.scale.ordinal()
                .domain(dayTotals)
                .rangeBands([0, height]);

    chart = d3.select("#svg")
              .append('svg')
              .attr('class', 'chart2')
              .attr('width', width)
              .attr('height', height);

    chart.selectAll("rect")
        .data(dayTotals)
        .enter().append("rect")
        .attr("y", y)
        .attr("height", y.rangeBand())
        .attr("x", function(){ return labelsWidth;})
        .transition()
        .duration(1000)
            .attr("width", x);

    chart.selectAll("text.day")
        .data(dayTotals).enter().append("text")
        .attr("x", function(d){ return labelsWidth - 5; })
        .attr("y", function(d){ return y(d)+y.rangeBand()/2;})
        .attr("dy", ".36em")
        .attr("text-anchor", "end")
        .attr('fill', 'dimgray')
        .text(function(d,i){ return weekDays[i]; });

    chart.selectAll("text.time")
        .data(dayTotals)
        .enter().append("text")
        .attr('opacity', 0)
        .attr("x", function(d){ 
            if(x(d) < 100)
                return x(d) + labelsWidth + 5;
            else
                return x(d) + labelsWidth - 5;})
        .attr("y", function(d){ return y(d)+y.rangeBand()/2;})
        .attr("dy", ".36em")
        .attr("text-anchor", function(d){
            if(x(d) < 100)
                return "begining";
            else 
                return "end";})
        .text(function(d,i){ return '(' + humanizeTime(d) + ')';})
        .transition()
        .duration(700)
        .delay(600)
            .attr('opacity', 1);
