extends page
block content
  h1 Session Statistics
  .row
    #sessionList.pull-left.well
      b Session List:
      - each session in sessions
        p
          | #{session.device}@#{session.ip}
          br/
          | #{session.up}
          br/
          | #{session.down} (#{session.secs} secs.)
    p.pull-right.well 
        b Total Seconds:
        br/
        | #{totalSecs}
    p.pull-right.well
        b Day Totals:
        br/
        | #{dayTotals}
    p#dayTotals.pull-right.well
       b Day totals: 

    p.pull-right.well
        b Week Totals:
        br/
        | #{weekTotals}

  style
    .chart div{
      font: 10px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }
  script
    var dayTotals = [#{dayTotals}];
    var maxDay = Math.max(#{dayTotals});
    var weekDays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
    var i = 0;
    console.log(maxDay);
    //var dayTotals = [23,8,48,4,32,12,23];
    var chart = d3.select('#dayTotals').append('div').attr('class', 'chart');
    console.log(dayTotals);
    chart.selectAll("div")
        .data(dayTotals)
        .enter().append('div')
        .style("width", function(d){ return (d / maxDay * 300) + "px";})
        .text(function(d){return weekDays[i++] + '(' + d + ')';});
      /*
        */
