extends page
block content
  h1 Session Statistics
  .row
    #sessionList.pull-left.well.nano
      .content
        b Session List:
        - each session in sessions
          p
            | #{session.device}@#{session.ip}
            br/
            | #{session.up}
            br/
            | #{session.down} (#{session.time})

    p#hotTimes.pull-right.well
        b Hot Times:
        br/

    p.pull-right.well 
        b Total Time:
        br/
        | #{totalSecs}

    p#dayTotals.pull-right.well
       b Week totals: 
       br/

    p#pie.pull-right.well
        b Devices usage:
        br/

    #data
      #devicesData.noDisplay
        | !{JSON.stringify(devices)}
      #hotData.noDisplay
        | #{hotTimes}
      #dayTotalsData.noDisplay
        | #{dayTotals}


  script(src='/js/sessionCharts.js')
  script(src='/js/jquery.nanoscroller.min.js')
  script
    $(document).ready(function(){
      $("#sessionList").nanoScroller();
    });

