extends page
block content
  h1 Session Statistics
  - each session in sessions
    p 
      | #{session.device}@#{session.ip}
      br/
      | #{session.up}
      br/
      | #{session.down} (#{session.secs} secs.)
